{% extends 'app/layout.html' %}


{% block content %}

  <section class="container main-container">    
    <!-- main actions -->
    <hr>
    {% include 'app/includes/index/main_actions.html' %}
    
    <!-- overview -->
    <hr>
    {% include 'app/includes/index/main_overview.html' %}
    
    <!-- Modal  categories-->
    {% include "app/includes/options/categories.html" %}

    <!-- Modal  filters -->
    {% include "app/includes/options/filters.html" %}


    <!--tabela mes atual-->
    <hr>
    {% include 'app/includes/table.html' %}
  

    <!--options-->
    <hr>
    {% include 'app/includes/index/options.html' %}
    
  </section>

{% endblock  %}