<div class="app-balanco">
  <div class="app-table-el">
    
    <table class="table table-sm table-bordered app-table">
      <thead>
        <tr>
          <th scope="col">data</th>
          <th scope="col">tipo</th>
          <th scope="col">valor</th>
          <th scope="col">del</th>
        </tr>
      </thead>

      <tbody>
        {% for d in data %}
          <tr>
            <td>{{d.get_date}}</td>
            <td>{{d.dtype}}</td>
            
            {% if d.mode == 'spent' %}
              <td class="red-value">- {{d.get_value}}</td>              
            {% else %}
              <td class="green-value">+ {{d.get_value}}</td>              
            {% endif %}
            
            <td> <a id="removedata" type="button" class="btn" href="{% url 'app:remove' d.id%}"> <span class=" remove-table-line far fa-trash-alt"></span> </a> </td>  
          </tr>
        
        {% endfor %}
      </tbody>
    
    </table>

  </div>
</div>
