<div class="app-balanco">
  <div class="app-table-el">
    <table class="table table-sm table-bordered app-table">
      <thead>
        <tr>
          <th scope="col">data</th>
          <th scope="col">descr.</th>
          <th scope="col">valor</th>
          <th scope="col">del</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{date_today}}</td>
          <td> desc <span class="desc-icon fas fa-info-circle"></span></td>
          <td class="green-value">+ R$100,00</td>
          <td><span class=" remove-table-line far fa-trash-alt"></span></td>
        </tr>
        
        <tr>
          <td>{{date_today}}</td>
          <td> desc <span class="desc-icon fas fa-info-circle"></span></td>
          <td class="red-value">- R$50,00</td>
          <td><span class=" remove-table-line far fa-trash-alt"></span></td>
        </tr>
      </tbody>
    
    </table>

  </div>
</div>