
<nav class="app-nav-bar" >
  <div class="app-nav-elements-display-flex">
    <button id="options" class="w3-button w3-xxlarge fas fa-cog" data-bs-toggle="modal" data-bs-target="#modal-options" ></button>
    <h2 class="app-logo">App <span class="fas fa-coins"></span> </h2>
  </div>
</nav>

<!-- Modal  Menu-->
<div class="modal fade" id="modal-options" tabindex="-1" aria-labelledby="modal-optionsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="modal-optionsLabel">Opções</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        
        <div class="display-flex">
            <button type="button" class="btn app-main-btn btn-lg main-action-btn" data-bs-toggle="modal" data-bs-target="#modal-options-categories"> Categorias</button>
            <button type="button" class="btn app-main-btn btn-lg main-action-btn" data-bs-toggle="modal" data-bs-target="#modal-options-filters"> Filtros</button>
        </div>
      
      </div>
      
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>




<script>

  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
  }

</script>